# Pie OS - GRUB config

set default="pieos"
set timeout=10
set gfxpayload=keep
set pager=1

insmod all_video
insmod usb
insmod usb_keyboard
insmod part_gpt
insmod part_msdos
insmod ext2
insmod fat
insmod iso9660
insmod loopback
insmod search
insmod search_fs_label

search --no-floppy --set=root --label PIEOS

menuentry "Pie OS" {
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=PIEOS splash quiet vt.global_cursor_default=0 loglevel=3
    initrd /arch/boot/x86_64/intel-ucode.img /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Pie OS (modo seguro)" {
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=PIEOS loglevel=3 nomodeset
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Desligar" {
    halt
}

menuentry "Reiniciar" {
    reboot
}
