# Pie OS - Syslinux config

UI menu.c32

MENU TITLE Pie OS
MENU BACKGROUND splash.png

TIMEOUT 30

DEFAULT pieos

LABEL pieos
    MENU LABEL Pie OS
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/x86_64/intel-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=PIEOS_ splash quiet vt.global_cursor_default=0 loglevel=3

LABEL pieos-nosplash
    MENU LABEL Pie OS (modo seguro)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=PIEOS_ loglevel=3 nomodeset

LABEL memtest86
    MENU LABEL Memtest86+
    LINUX /arch/boot/memtest86+/memtest
