# Pie OS - Syslinux config

UI menu.c32

MENU TITLE Pie OS
MENU BACKGROUND splash.png

TIMEOUT 30

DEFAULT pieos

LABEL pieos
    MENU LABEL Pie OS
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/x86_64/intel-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=PIEOS loglevel=3 i915.modeset=1 i915.enable_rc6=0

LABEL pieos-safe
    MENU LABEL Pie OS (modo seguro)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/x86_64/intel-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=PIEOS loglevel=3 nomodeset

LABEL memtest86
    MENU LABEL Memtest86+
    LINUX /arch/boot/memtest86+/memtest
