# Pie OS - Syslinux config

UI menu.c32

MENU TITLE Pie OS
MENU BACKGROUND splash.png

TIMEOUT 30

DEFAULT pieos

LABEL pieos
    MENU LABEL Pie OS
    LINUX ../vmlinuz-linux
    INITRD ../intel-ucode.img,../initramfs-linux.img
    APPEND root=UUID= splash quiet vt.global_cursor_default=0 loglevel=3

LABEL pieos-nosplash
    MENU LABEL Pie OS (sem animação)
    LINUX ../vmlinuz-linux
    INITRD ../intel-ucode.img,../initramfs-linux.img
    APPEND root=UUID= loglevel=3

LABEL memtest
    MENU LABEL Memtest86+
    LINUX ../memtest86+/memtest
